<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('/css/header.css') %>"
/>
<header>
  <div id="header-left">
    <a href="/">PLACEMENT CELL</a>
  </div>
  <div id="header-right">
    <ul>
      <% if(!locals.employee){ %>
      <li><a href="/employees/sign-in">Log In</a></li>
      <li><a href="/employees/sign-up">Register</a></li>
      <% }else{ %>
      <li><a href="/employees/sign-out">Log out</a></li>
      <% } %>
    </ul>
  </div>
</header>
