<link rel="stylesheet" type="text/css" href="<%= assetPath('css/csv.css') %>" />
<div id="csv-download-container">
  <h2>Please click on the below link to download CSV</h2>
  <a href="/csv/data.csv" download="student_interview_report.csv"
    ><button>Download</button></a
  >
</div>
