<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('/css/interviews.css') %>"
/>

<div id="interviews-container">
  <div id="create-interview-button">
    <a href="/interviews/new-interview-form">Create An Interview</a>
  </div>
</div>
