<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('css/interviews.css') %>"
/>

<div id="interviews-container">
  <div id="create-interview-button">
    <a href="/interviews/new-interview-form">Create An Interview</a>
  </div>
  <div id="interviews-table">
    <table>
      <caption>
        List of interviews
      </caption>
      <thead>
        <tr>
          <th>Sl. No.</th>
          <th>Company Name</th>
          <th>Interview Date</th>
          <th>Allocate Students</th>
          <th>View list of students</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < interviews.length; i++){ %> <%-
        include('_interview', {interview: interviews[i], i: i}); -%> <% } %>
      </tbody>
    </table>
  </div>
</div>
