<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('css/students.css') %>"
/>

<div id="students-container">
  <div id="new-student-button">
    <a href="/students/new-student-form">Add New Student</a>
  </div>
  <div id="students-table">
    <table>
      <caption>
        List of students
      </caption>
      <thead>
        <tr>
          <th>ID</th>
          <th style="width: 200px; max-width: 200px">Name</th>
          <th style="width: 200px; max-width: 200px">College</th>
          <th>Batch</th>
          <th>Status</th>
          <th>DSA score</th>
          <th>Web Dev score</th>
          <th>React score</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < students.length; i++) { %> <%- include('_student',
        {student: students[i], i: i}) -%> <% } %>
      </tbody>
    </table>
  </div>
</div>
