<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('/css/students.css') %>"
/>

<div id="students-container">
  <div id="new-student-button">
    <a href="/students/new-student-form">ADD NEW STUDENT</a>
  </div>
  <h1>List of Students:</h1>
</div>
