footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: rgb(122, 255, 60);
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}
