header {
  position: absolute;
  top: 0px;
  background-color: rgb(149, 68, 255);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;

    &:link {
      color: black;
    }

    &:visited {
      color: black;
    }

    &:hover {
      color: white;
    }

    &:active {
      color: red;
    }
  }

  #header-left {
    padding-left: 10px;
    font-size: 1.5rem;
  }

  #header-right {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 0px 5px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    #header-left {
      font-size: 1rem;
    }
  }
}
