#interviews-container {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(255, 243, 228);

  #create-interview-button {
    text-align: center;

    a {
      padding: 10px;
      border: 1px solid black;
      display: inline-block;
      border-radius: 20px;
      text-decoration: none;
      background-color: rgb(130, 255, 130);
      box-shadow: 2px 2px 2px black;

      &:link {
        color: black;
      }

      &:visited {
        color: black;
      }

      &:hover {
        color: white;
        background-color: rgb(57, 255, 57);
        box-shadow: 3px 3px 3px black;
      }

      &:active {
        color: black;
      }
    }
  }

  #interviews-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    table {
      border-collapse: collapse;
    }

    td,
    th {
      border: 1px solid black;
      padding: 10px;
    }

    tr {
      &:nth-child(even) {
        background-color: rgb(255, 188, 188);
      }

      &:hover {
        background-color: rgb(215, 231, 255);
      }
    }

    td {
      a {
        text-decoration: none;
        display: inline-block;
        border: 1px solid black;
        padding: 3px 10px;
        border-radius: 20px;
        background-color: rgb(181, 255, 181);

        &:link {
          color: black;
        }

        &:visited {
          color: black;
        }

        &:hover {
          color: rgb(255, 62, 62);
        }

        &:active {
          color: black;
        }
      }
    }
  }
}
