body {
  margin: 0;

  #layout-container {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  border-radius: 30px;
}
