#new-interview-form {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 228, 247);

  form {
    input[type='text'] {
      width: 300px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 1px dashed rgb(0, 0, 219);
      background-color: rgb(228, 255, 245);
    }

    input[type='date'] {
      width: 300px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 20px;
      border: 1px dashed rgb(0, 0, 219);
      background-color: rgb(228, 255, 245);
    }

    input[type='submit'] {
      width: 300px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 20px;
      background-color: rgb(125, 255, 125);
      box-shadow: 2px 2px 2px black;
      cursor: pointer;

      &:hover {
        background-color: rgb(49, 255, 49);
        box-shadow: 3px 3px 3px black;
        color: white;
      }
    }

    a {
      display: inline-block;
      width: 300px;
      text-align: center;
      text-decoration: none;
      border: 1px solid black;
      border-radius: 20px;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 2px 2px 2px black;
      background-color: rgb(255, 129, 129);

      &:link {
        color: black;
      }

      &:visited {
        color: black;
      }

      &:hover {
        color: white;
        box-shadow: 3px 3px 3px black;
        background-color: rgb(255, 59, 59);
      }

      &:active {
        color: black;
      }
    }
  }
}
