#new-student-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(255, 227, 227);

  form {
    input[type='text'] {
      width: 300px;
      padding: 10px;
      border-radius: 20px;
      box-sizing: border-box;
    }

    input[type='number'] {
      width: 300px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 10px;
    }

    input[type='month'] {
      padding: 10px;
      border-radius: 10px;
    }

    input[type='submit'] {
      width: 300px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 20px;
      background-color: rgb(129, 255, 129);
      box-shadow: 2px 2px 2px black;
      cursor: pointer;

      &:hover {
        background-color: rgb(47, 255, 47);
        box-shadow: 3px 3px 3px black;
        color: white;
      }
    }

    a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      width: 300px;
      box-sizing: border-box;
      border: 1px solid black;
      box-shadow: 2px 2px 2px black;
      border-radius: 20px;
      background-color: rgb(255, 130, 130);
      padding: 10px;

      &:link {
        color: black;
      }

      &:visited {
        color: black;
      }

      &:hover {
        color: white;
        background-color: rgb(255, 50, 50);
        box-shadow: 3px 3px 3px black;
      }

      &:active {
        color: black;
      }
    }
  }
}
