#sign-up-container,
#sign-in-container {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 214, 230);
  padding: 10px;
  box-sizing: border-box;

  h1 {
    margin: 0;
  }

  form {
    input {
      width: 300px;
      border-radius: 50px;
      padding: 5px;
      border: 1px solid black;
      box-sizing: border-box;
    }

    input[type='submit'] {
      background-color: rgb(23, 199, 0);
      cursor: pointer;
      box-shadow: 2px 2px 2px black;

      &:hover {
        background-color: rgb(28, 238, 0);
      }
    }
  }
}
