// scss for students page

#students-container {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(199, 255, 241);
  padding: 10px;
  overflow: auto;

  // styling the add new student button
  #new-student-button {
    text-align: center;

    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid black;
      border-radius: 20px;
      box-shadow: 2px 2px 2px black;
      background-color: rgb(146, 255, 132);
      text-decoration: none;

      &:link {
        color: black;
      }

      &:visited {
        color: black;
      }

      &:hover {
        color: white;
        background-color: rgb(57, 255, 57);
        box-shadow: 3px 3px 3px black;
      }

      &:active {
        color: black;
      }
    }
  }

  // styling the students table
  #students-table {
    padding: 10px;
    overflow: auto;

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px dashed black;
      padding: 10px;
    }

    // display every 2nd table row in different color
    tr {
      &:nth-child(even) {
        background-color: rgb(128, 255, 223);
      }

      &:hover {
        background-color: rgb(255, 231, 231);
      }
    }
  }
}
