#home-container {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c7fff1;
}

#home-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#home-container ul li {
  display: inline-block;
  font-size: 1.5rem;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  background-color: #7aff80;
}

#home-container ul li:hover {
  box-shadow: 4px 4px 4px black;
}

#home-container ul li a {
  text-decoration: none;
}

#home-container ul li a:link {
  color: black;
}

#home-container ul li a:visited {
  color: black;
}

#home-container ul li a:hover {
  color: white;
}

#home-container ul li a:active {
  color: black;
}
