#interviews-container {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  background-color: #fff3e4;
}

#interviews-container #create-interview-button {
  text-align: center;
}

#interviews-container #create-interview-button a {
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  background-color: #82ff82;
  box-shadow: 2px 2px 2px black;
}

#interviews-container #create-interview-button a:link {
  color: black;
}

#interviews-container #create-interview-button a:visited {
  color: black;
}

#interviews-container #create-interview-button a:hover {
  color: white;
  background-color: #39ff39;
  box-shadow: 3px 3px 3px black;
}

#interviews-container #create-interview-button a:active {
  color: black;
}

#interviews-container #interviews-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#interviews-container #interviews-table table {
  border-collapse: collapse;
}

#interviews-container #interviews-table td,
#interviews-container #interviews-table th {
  border: 1px solid black;
  padding: 10px;
}

#interviews-container #interviews-table tr:nth-child(even) {
  background-color: #ffbcbc;
}

#interviews-container #interviews-table tr:hover {
  background-color: #d7e7ff;
}

#interviews-container #interviews-table td a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: #b5ffb5;
}

#interviews-container #interviews-table td a:link {
  color: black;
}

#interviews-container #interviews-table td a:visited {
  color: black;
}

#interviews-container #interviews-table td a:hover {
  color: #ff3e3e;
}

#interviews-container #interviews-table td a:active {
  color: black;
}
