#interview-students-container {
  height: 100%;
  box-sizing: border-box;
  background-color: #c7fff1;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#interview-students-container #interview-students-table {
  padding: 20px;
}

#interview-students-container #interview-students-table table {
  border-collapse: collapse;
}

#interview-students-container #interview-students-table td,
#interview-students-container #interview-students-table th {
  border: 1px solid black;
  padding: 10px;
}

#interview-students-container #interview-students-table tr:nth-child(even) {
  background-color: #ffbcbc;
}

#interview-students-container #interview-students-table tr:hover {
  background-color: #d7e7ff;
}

#interview-students-container #interview-students-table input[type='submit'] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  margin-top: 20px;
  background-color: #84ff84;
  cursor: pointer;
}

#interview-students-container #interview-students-table input[type='submit']:hover {
  background-color: #3dff3d;
}

#interview-students-container #interview-students-table button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  margin-top: 20px;
  background-color: #ff8383;
  cursor: pointer;
}

#interview-students-container #interview-students-table button:hover {
  background-color: #ff3a3a;
}

#interview-students-container #interview-students-table select {
  padding: 2px;
  border: 1px double #80ff80;
  border-radius: 20px;
}

#interview-students-container #interview-students-table select option[value='fail'] {
  background-color: #ff8282;
}

#interview-students-container #interview-students-table select option[value='on_hold'] {
  background-color: #ffff80;
}

#interview-students-container #interview-students-table select option[value='pass'] {
  background-color: #82ff82;
}

#interview-students-container #interview-students-table select option[value='did_not_attempt'] {
  background-color: #ff7bff;
}
