#new-interview-form {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe4f7;
}

#new-interview-form form input[type='text'] {
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
}

#new-interview-form form input[type='date'] {
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
}

#new-interview-form form input[type='submit'] {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #7dff7d;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

#new-interview-form form input[type='submit']:hover {
  background-color: #31ff31;
  box-shadow: 3px 3px 3px black;
  color: white;
}

#new-interview-form form a {
  display: inline-block;
  width: 300px;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px black;
  background-color: #ff8181;
}

#new-interview-form form a:link {
  color: black;
}

#new-interview-form form a:visited {
  color: black;
}

#new-interview-form form a:hover {
  color: white;
  box-shadow: 3px 3px 3px black;
  background-color: #ff3b3b;
}

#new-interview-form form a:active {
  color: black;
}
