#sign-up-container {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00d6e6;
  padding: 10px;
  box-sizing: border-box;
}

#sign-up-container h1 {
  margin: 0;
}

#sign-up-container form input {
  width: 300px;
  border-radius: 50px;
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}

#sign-up-container form input[type='submit'] {
  background-color: #17c700;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

#sign-up-container form input[type='submit']:hover {
  background-color: #1cee00;
}
